@use './common.scss' as *;

#wrap{
    width: 440px;
    height : 956px;
    margin: 0 auto;
    .swiper-wrapper{
        .city-slide1{
            position: relative;
            z-index: 1;
            background-image: url(../img/bg.jpg);
            background-position: center;
            background-repeat: no-repeat;
            background-size: cover;
            &::after{
                content: '';
                width: 100%;
                height: 100%;
                position: absolute;
                left: 0;
                top: 0;
                background: rgba(255, 255, 255, 0.8);
                z-index: 500;
            }
        }
        .swiper-slide {
            @include flex-col-nowrap;
            justify-content: space-between;
            align-items: center;
            padding: 80px 20px;
            .day-content {
                position: relative;
                z-index: 999;
                .date {
                    @include flex-row-nowrap;
                    justify-content: center;
                    align-items: center;
                    gap: 6px;
                    p {

                    }
                }
                .today-time{
                    span {
                        font-size: $size-14px;
                    }
                    p {
                        font-size: $size-24px;
                    }
                }
            }
            .temperature{
                @include flex-col-nowrap;
                justify-content: center;
                align-items: center;
                position: relative;
                z-index: 999;
                gap: 20px;
                .city-contents{
                    h2 {
                        font-weight: $weight-semibold;
                        font-size: $size-18px;
                    }
                    h1 {
                        font-size: $size-40px;
                        em {
                            font-weight: $weight-semibold;
                            color: $blue;
                        }
                    }
                }
                .bodyfeel-temp{
                    p{
                        em{}
                    }
                }
                .notice{
                    font-size: $size-14px;
                }
            }
            .weather {
                position: relative;
                z-index: 999;
                padding: 0 20px;
                
                .weather-contents{
                    @include flex-col-nowrap;
                    justify-content: center;
                    align-items: center;
                    gap: 100px;
                    img{
                        width: 200px;
                        height: 200px;
                        display: block;
                    }
                    >.swiper{
                        padding: 30px 20px;
                        border-radius: 20px;
                        width: 400px;
                        height: fit-content;
                        overflow: hidden;
                        background-color: rgba($color: #222, $alpha: 0.3);
                        .swiper-wrapper{
                            .swiper-slide{
                                @include flex-col-nowrap;
                                justify-content: center;
                                align-items: center;
                                gap : 10px;
                                padding: 0;
                                p{
                                    white-space: nowrap;
                                    color: $white;
                                }
                                img{
                                    width: 24px;
                                    height: 24px;
                                }
                            }
                        }
                    }
                }
            }
        }
    }

}